:root {
  --blanco: #fff;
  --blanco-transparente: rgba(255, 255, 255, 0.537);
  --primario: #4de8b2;
  --negro: #141a2c;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 16, 28, 1) 90%
  );
}
.background {
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}
.contenedor {
  max-width: 95rem;
  width: 95%;
  margin: 0 auto;
}
.titulo {
  font-size: 3.8rem;
  margin-top: 7rem;
  line-height: 0.8;
  color: var(--blanco);
}
.titulo span {
  color: var(--primario);
  display: block;
  font-size: 4.4rem;
}
.descripcion {
  color: var(--blanco-transparente);
  line-height: 140%;
  padding-left: 2rem;
  max-width: 40rem;
}
.descripcion span {
  font-weight: 500;
  color: white;
}

@media (min-width: 768px) {
  .descripcion span {
    display: block;
  }
}
.contenido {
  margin-top: 2rem;
  padding: 2rem;
  max-width: 40rem;
}
.formulario,
.campo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formulario legend {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
}
.formulario label {
  color: var(--primario);
}
.formulario select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.formulario [type="submit"] {
  background-color: var(--primario);
  color: var(--negro);
  border: none;
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms ease;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.formulario [type="submit"]:hover {
  background-color: #0cb387;
}

.contenedor-resultado {
  background-color: var(--negro);
  padding: 1.5rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.contenedor-resultado h2 {
  text-align: center;
  color: var(--primario);
  text-transform: uppercase;
}

.resultado {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}
.resultado img {
  width: 100%;
}
.resultado p {
  margin: 0 0 1.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--blanco-transparente);
  line-height: 145%;
}
.resultado span {
  font-weight: 500;
  display: block;
  color: var(--blanco);
}
